<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="bg-success m-5">
    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-default qna-list">

                <!--  content   -->
                <ul class="list" th:each="post : ${posts}">
                    <li>
                        <div class="wrap">
                            <div class="main">
                                <strong class="subject">
                                    <a th:href="@{qna/{id}(id=${post.id})}" th:text="${post.title}"/>
                                </strong>
                                <div class="auth-info">
                                    <i class="icon-add-comment"></i>
                                    <span class="time" th:text="${post.createdDate}"/>
                                    <a href="user/profile" class="author" th:text="${post.writerName}"/>
                                </div>
                                <div class="reply" title="댓글">
                                    <i class="icon-reply"></i>
                                    <span class="point" th:text="${post.id}"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center pagination center-block" style="display:inline-block;"
                         th:with="start=${T(Math).floor(posts.number/10)*10 + 1},
                            last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages})">>

                        <li>
                            <a th:href="@{/(page=1)}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>

                        <li th:class="${posts.first} ? 'disabled'">
                            <a th:href="${posts.first} ? '#' :@{/(page=${posts.number})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/(page=${page})}"></a>
                        </li>

                        <li th:class="${posts.last} ? 'disabled'">
                            <a th:href="${posts.last} ? '#' : @{/(page=${posts.number + 2})}" aria-label="Next">
                                <span aria-hidden="true"/>&gt;</span>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/(page=${posts.totalPages})}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>

                    </div>
                    <div class="col-md-3 qna-write">
                        <a href="qna/form" class="btn btn-primary pull-right" role="button">질문하기</a>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
</html>