
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="bg-success m-5">
    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-default content-main">
                <form name="question" th:method="put" action="">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="form-group">
                        <label for="writer">글쓴이</label>
                        <input class="form-control" id="writer" name="writer" th:value="${account.name}" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${post.title}"/>
                    </div>
                    <div class="form-group">
                        <label for="contents">내용</label>
                        <textarea name="contents" id="contents" rows="5" class="form-control" th:text="${post.contents}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success clearfix pull-right">수정하기</button>
                    <div class="clearfix" />
                </form>
            </div>
        </div>
    </div>
</div>
</html>



